.top-nav-row {
  position: fixed;
  top: 0px;
  height: 40px;
  width: 110%;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0, 0, 0, .6);
  border: solid 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 4px 5px 5px -3px #000000; 
  box-shadow: 4px 5px 5px -3px #000000;
  color: white; 
}

li {
  list-style: none;
}

.fas {
  font-size: 1.5em;
}
.home-button {
    border-radius: 0%;
    font-weight: 800;
    margin-left: -30px;
    height: 40px;
    background: linear-gradient(126deg, rgba(52,82,110,.5) 0%, rgba(92,126,156,.5) 100%);
    color:  rgba(244,230,187,.9);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);    
    border: none;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    font-family: 'UnifrakturCook', cursive;
  }
  
  .home-button:hover {
    background: linear-gradient(126deg, rgba(52,82,110,.4) 0%, rgba(92,126,156,.4) 100%);
    color:  rgba(244,230,187,1);
  }

  .btn-text {
    font-family: 'UnifrakturCook', cursive;
  }